/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  display: flex;
  background: #000;
  color: #fff;
}

/* SIDEBAR */
.sidebar {
  width: 230px;
  height: 100vh;
  background: #111;
  padding: 25px 20px;
  position: fixed;
}

.sidebar .brand {
  color: #ff3b30;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 25px;
}

.menu {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.menu li {
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  color: #ddd;
  display: flex;
  gap: 10px;
}

.menu li.active,
.menu li:hover {
  background: #222;
  color: #fff;
}

.logout {
  margin-top: 200px;
  display: flex;
  gap: 10px;
  padding: 10px;
  border-radius: 8px;
  background: #1a1a1a;
  text-decoration: none;
  color: #ff3b30;
}

/* CONTENT */
.content {
  margin-left: 250px;
  padding: 40px;
}

.subtitle {
  color: #ccc;
  margin-bottom: 18px;
}

.cta {
  background: #ff3b30;
  padding: 12px 25px;
  border-radius: 6px;
  border: none;
  margin-bottom: 30px;
  cursor: pointer;
}

/* TOP GRID */
.top-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
  margin-bottom: 35px;
}

.box {
  background: #151515;
  padding: 20px;
  border-radius: 12px;
}

.box-title {
  font-weight: 700;
  margin-bottom: 8px;
}

/* PROGRESS */
.percent {
  margin-bottom: 8px;
}

.progress-bar {
  width: 100%;
  height: 8px;
  background: #333;
  border-radius: 6px;
  overflow: hidden;
}

.progress-fill {
  height: 100%;
  background: #ff3b30;
}

/* NOTIF */
.desc {
  color: #ccc;
  margin: 10px 0;
}

.blue-btn {
  background: #007bff;
  padding: 8px 15px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

/* EMPTY DATA */
.big-box {
  background: #141414;
  border-radius: 12px;
  padding: 55px 20px;
  text-align: center;
  margin-bottom: 40px;
}

.big-icon {
  font-size: 40px;
  margin-bottom: 10px;
}

.big-text {
  color: #ccc;
  margin-bottom: 15px;
}

.small-btn {
  background: #333;
  border: none;
  padding: 8px 18px;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
}

/* CARDS */
.cards {
  display: flex;
  gap: 25px;
}

.card {
  background: #151515;
  width: 260px;
  padding: 20px;
  border-radius: 12px;
}

.emoji {
  font-size: 30px;
  margin-bottom: 10px;
}

.red-btn {
  margin-top: 15px;
  background: #ff3b30;
  border: none;
  padding: 8px 15px;
  border-radius: 6px;
  cursor: pointer;
}
